* {
    padding: 0;
    margin: 0;
}

:root {
    --orange: #ffc300;
    --bg-dark: #003566;
    --win-clr: #001d3d;
    --cell-width: 6rem;
}

body {
    color: var(--orange);
    background-color: var(--bg-dark);
    font-family: 'Finger Paint', cursive;
    /* center everything */
    display: grid;
    place-items: center;
    align-content: center;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

p {
    font-size: 2rem;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block: 5em;
}

.cell {
    display: grid;
    place-items: center;
    width: var(--cell-width);
    aspect-ratio: 1;
    font-size: 4rem;
    border-right: 2px solid;
    border-bottom: 2px solid;
    cursor: pointer;
}
/* setting up borders */
.cell:nth-child(3n) {
    border-right: none;
}
.cell:nth-child(6) ~ .cell {
    border-bottom: none;
}

#result {
    display: none;
    position: absolute;
    bottom: 1.75em;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;

    width: 15rem;
    font-size: 2rem;
}

.score {
    position: relative;
    display: flex;
    gap: 3em;
}

.btn {
    display: inline-block;
    margin-block-start: 1em;
    padding: 0.75em 1.5em;
    border-radius: 0.5em;
    background-color: var(--orange);
    color: hsl(0, 0%, 20%);
    border-color: var(--orange);
    font-size: 1.2rem;
    transition: 200ms transform;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-2px);
}
